$dark-blue: #151a51;
$pop-blue: #6cd4f6;
$brown: #6D3109;
$beige: #eae2cf;
$offwhite: #f8f3eb;

.bg-fade {
  background-color: rgba($offwhite, .85);
  min-height: 95vh;
  position: absolute;
  left: 0;
  right: 0;
}
//
// .book-list-tile {
//   margin-bottom: 10px;
//   // background: $offwhite;
//   // border-radius: 7px;
//   a {
//     background: $offwhite;
//     // padding-top: 50px;
//     // padding-bottom: 65px;
//     img {
//       max-width: 70px;
//     }
//   }
// }


.book-list-tile {
  .media-object-section {
    vertical-align: middle;
    background: $offwhite;
  }
}
.media-object.book-list-tile {
  background: $offwhite;
  .thumbnail {
    border: solid 4px #f8f3eb;
  }
  img {
    max-width: 70px;
  }
}

// .book-list-outer {
//   margin-bottom: 10px;
//   .book-list-tile {
//     background: $offwhite;
//     border-radius: 7px;
//
//     // padding-right: 50vw;
//     // padding-top: 50px;
//     // padding-left: 10px;
//     height: 180px;
//     img {
//       max-width: 70px;
//     }
//     // display: block;
//     // margin: auto;
//     // text-align: center;
//     // height: 100px;
//     // width: 180px;
//     // line-height: 100px;
//     // &:hover {
//     //   color: $dark-blue;
//     //   background-color: rgba($offwhite, .95);
//     // }
//   }
// }
