$dark-blue: #151A51;
$pop-blue: #6CD4F6;
$brown: #6D3109;
$beige: #EAE2CF;
$offwhite: #F8F3EB;

button.button, input.button, a.button {
  background-color: $dark-blue;
  color: $pop-blue;
  &:hover {
    color: lighten($pop-blue, 10%);
    background-color: lighten($dark-blue, 7%);
  }
  &:focus {
    color: lighten($pop-blue, 10%);
    background-color: lighten($dark-blue, 7%);
  }
  &.react-left {
    margin-right: 5px;
  }
}

.dash-outer > .dash-tile {
  border: 2px solid $dark-blue;
  border-radius: 5px;
  margin: auto;
  text-align: center;
  height: 200px;
  width: 200px;
}

.dash-outer {
  margin: 1em auto;
  // border: 2px solid $dark-blue;
}

.home-grid {
  max-width: 950px;
  margin: auto;
}

.book-tile {
  margin-bottom: 1em;
  padding: 1em;
  border: 1px solid $dark-blue;
  border-radius: 5px;
  text-align: center;
  word-wrap: break-word;
}

// .floating-back {
//   float:
// }
