$dark-blue: #151a51;
$pop-blue: #6cd4f6;
$brown: #6D3109;
$beige: #eae2cf;
$offwhite: #f8f3eb;

button.button, input.button, a.button {
  background-color: $dark-blue;
  color: $pop-blue;
  &:hover {
    color: lighten($pop-blue, 10%);
    background-color: lighten($dark-blue, 7%);
  }
  &:focus {
    color: lighten($pop-blue, 10%);
    background-color: lighten($dark-blue, 7%);
  }
  &.react-left {
    margin-right: 5px;
  }
}

.dash-outer {
  margin: 1em auto;
  .dash-tile {
    border: 2px solid $dark-blue;
    border-radius: 7px;
    display: block;
    margin: auto;
    text-align: center;
    height: 100px;
    width: 180px;
    line-height: 100px;
    background-color: $offwhite;
  }
}

// #dash-allbooks {
//   background-image: image-url('allbooks.jpg');
// }
// 
// .home-grid {
//   max-width: 950px;
//   margin: auto;
// }

.book-tile {
  margin-bottom: 1em;
  padding: 1em;
  border: 1px solid $dark-blue;
  border-radius: 5px;
  text-align: center;
  word-wrap: break-word;
  &:hover {
    // color: lighten($pop-blue, 10%);
    background-color: $beige;
  }
  img {
    width: 120px;
  }
}
