$dark-blue: #151a51;
$pop-blue: #6cd4f6;
$brown: #6D3109;
$beige: #eae2cf;
$offwhite: #f8f3eb;

button.button, input.button, a.button {
  background-color: $dark-blue;
  color: $pop-blue;
  &:hover {
    color: lighten($pop-blue, 10%);
    background-color: lighten($dark-blue, 7%);
  }
  &:focus {
    color: lighten($pop-blue, 10%);
    background-color: lighten($dark-blue, 7%);
  }
  &.react-left {
    margin-right: 5px;
  }
}

.dash-outer {
  margin: 1em auto;
  .dash-tile {
    background: rgba($offwhite, .85);
    border-radius: 7px;
    display: block;
    margin: auto;
    text-align: center;
    height: 100px;
    width: 180px;
    line-height: 100px;
    &:hover {
      color: $dark-blue;
      background-color: rgba($offwhite, .95);
    }
  }
}

.book-tile {
  margin-bottom: 1em;
  padding: 1em;
  background-color: rgba($offwhite, .5);
  border: 1px solid $dark-blue;
  border-radius: 5px;
  text-align: center;
  word-wrap: break-word;
  &:hover {
    background-color: $beige;
  }
  img {
    width: 120px;
  }
}

.button.plus {
  border-right: 4px solid lighten($dark-blue, 7%);
}

.button.empty {
  margin-left: 1em;
}
