$dark-blue: #151A51;
$pop-blue: #6CD4F6;
$brown: #6D3109;
$beige: #EAE2CF;
$offwhite: #F8F3EB;

form.callout {
  background-color: $beige;
}

div.callout {
  background-color: $beige;
}

.wip-case {
  margin-bottom: 1vh;
  border: 1px solid grey;
  height: 11vh;
}

.input-group-label.search-fix {
  border: none;
  background-color: rgba($offwhite, .01);
  color: $brown;
}
