@import url(https://fonts.googleapis.com/css?family=Merriweather|Oswald);

$dark-blue: #151A51;
$pop-blue: #6CD4F6;
$brown: #6D3109;
$beige: #EAE2CF;
$offwhite: #F8F3EB;

body {
  font-family: 'Merriweather', serif;
  color: $brown;
  background-image: image-url('book-ladder.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $offwhite;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;

}

a {
  color: $dark-blue;
  &:hover {
    color: lighten($dark-blue, 16%);
  }
}

.top-bar {
  background-color: $beige;
  .unbold {
    font-weight: normal;
  }
}

.top-bar ul {
  @extend .top-bar
}

span.title-strong {
  font-style: italic;
}

.book-show-info {
  margin-bottom: 1em;
}

.detail-cover {
  margin-top: 1em;
  margin-bottom: 1em;
  max-width: 400px;
}

.home-react {
  h1 {
    text-align: center;
    margin-top: 1vh;
    span {
      padding-left: 2vw;
      padding-right: 2vw;
      color: $pop-blue;
      background-color: rgba($dark-blue, .8);
    }
  }
}
