/*palette:
dark blue- #151A51
pop blue- #6CD4F6
brown - #6D3109
beige - #EAE2CF
off white - #F8F3EB
*/
@import url(https://fonts.googleapis.com/css?family=Merriweather|Oswald);

$dark-blue: #151A51;
$pop-blue: #6CD4F6;
$brown: #6D3109;
$beige: #EAE2CF;
$offwhite: #F8F3EB;

body {
  font-family: 'Merriweather', serif;
  color: $brown;
  // background-color: lighten($offwhite, 0%);
  background-image: image-url('book-ladder.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $offwhite;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;

}

// .background-image {
//   background-image: image-url('book-ladder.jpg');
//   background-attachment: fixed;
//   background-repeat: no-repeat;
//   background-size: cover;
//   background-position: center;
// }

a {
  color: $dark-blue;
  &:hover {
    color: lighten($dark-blue, 16%);
  }
}

.top-bar {
  background-color: $beige;
}

.top-bar ul {
  @extend .top-bar
}

span.title-strong {
  font-style: italic;
}

.book-show-info {
  margin-bottom: 1em;
}

.detail-cover {
  margin-bottom: 1em;
  max-width: 500px;
}

.home-react > h1 {
  text-align: center;
}
