.spot {
  display: table-cell;
  vertical-align: bottom;
  border: 1px dashed #eae2cf;
  border-bottom: 1px solid black;
  border-top: 0;
  height: 11vh;
  width: 5%;
}

.grey-out {
  color: grey;
}

.book-drag > img {
  vertical-align: bottom;
}

.booklist-nospot {
  margin-top: 1.2vh;
}
