.shelf {
  border: 1px solid blue;
  height: 11vh;
  min-height: 60px;
  // margin-bottom: 2vh;
  // margin-top: 5vh;
  display: table-row;
}

.spot {
  // float: left;
  display: table-cell;
  vertical-align: bottom;
  border: 1px dashed #eae2cf;
  // border: 1px dashed black;
  border-bottom: 2px solid black;
  border-top: 0;
  height: 11vh;
  min-height: 60px;
  width: 5%;
  // padding: 0px;
}

.grey-out {
  color: grey;
}

.book-drag > img {
  vertical-align: bottom;
}
